body {
	padding-top: 1%;
	background: #585858 !important;
	color: white;
}

#title {
	font: 2em sans-serif;
	text-align: center;
}

table a:link,
a:visited {
	text-decoration: none;
}

table thead {
	text-align: center;
}

table a:hover,
a:active {
	text-decoration: underline;
}

.SearchBar {
	margin-left: 0.5em;
}

table th {
  width: auto !important;
}

.steam_iframe {
  height: 130%;
  width: 100%;
}

td:nth-child(4) {
  width: 50%;
}